.featured-section {
    margin: 13rem auto;
}

.featured-item img {
    width: 100%;
}

.layout {
    width: 100%;
}

.featured-heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.view-all {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: right;
    color: #FB3F5C;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.heading-secondary {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.heading-primary {
    width: 432px;
    height: 52px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
}
.p-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

#progress_status {
    display: block;
    width: 20rem;
    background-color: #ddd;
}

#progressBar {
    width: 15%;
    height: 6px;
    border-radius: 50px;
    background-color: #FB3F5C;
}

.bar-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16rem;
    margin-top: 9px;
}

.details {
    text-align: center;
}

.view-detail {
    background-color: rgba(4, 23, 42, 0.9);
    box-shadow: 0px 4px 24px rgba(177, 177, 177, 0.25);
    color: #ffffff;
    text-decoration: none;
    padding-top: 13px;
    height: 3rem;
    display: inline-block;
    width: 22rem;
    cursor: pointer;

}

.fa.fa-arrow-right {
    color: #ffffff;
    width: 3rem;
    height: 3rem;
}

.fa.fa-plus {
     width: 2rem;
     height: 2rem;
}

.container {
    margin: 0 auto;
    width:  100%;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.sub-container{
    background-image: url('./images/footer.png');
     background-size: cover;
     background-position: center;
     height: 500px;
}

.subscribe-content {
    padding-top: 3rem;
    margin-left: 6rem;
}

.heading-tertiary {
    width: 975px;
    height: 94px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 94px;
    color: rgba(255, 255, 255, 0.9);
}

.p-tertiary {
    width: 777px;
    height: 74px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    color: #ffffff;
    margin-bottom: 3rem;
}

input {
    width: 72%;
    height: 70px;
    padding: 1rem;
    box-sizing: border-box;
}

.input-text {
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    line-height: 42px;
}

.input-submit {
    height: 70px;
    background: #FB3F5C;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    font-size: 32px;
    line-height: 42px;
}